@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOTRA_BOLD-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-kotra {
  font-family: "KOTRA_BOLD-Bold";
}

.font-kyobohand {
  font-family: "KyoboHand";
}

.font-neo {
  font-family: "NeoDunggeunmo";
}

body, html{
    background-image: url("/Pictures/lida-cosgrove-lcosgrove-campfire-final-full.gif");
    color:black;
    user-select: none; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    box-sizing: border-box;
    background-color: rgb(241, 234, 234);
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(200,200,200);
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

h1, h3{
    font-weight: 600;
}

span{
    font-weight: 500;
}

.toggle-container{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.toggle{
    width: 60px;
    height: 35px;
    border-radius: 40px;
    background-color: rgb(228, 219, 219);
    display: inline-block;

}

.toggle-c{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: 300ms all;
    border: 1px solid #BCBCA4;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked + div .toggle-c{
    left: 30px;
    background-color: #30305C;
    border-color: #30305C;
}

input[type="radio"]{
    border: 0px;
    width: 10%;
    height: 20px;
    accent-color: black;
}

.togg-label{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.flex{
    display: flex;
    gap: 5px;
}

.bottom{
    margin-top: 20px;
    margin-bottom: 30px;
}

.bottom:hover{
    text-decoration:L 
}