body {
    background-color: #a3a3a3;
  
    background-image: url("lida-cosgrove-lcosgrove-campfire-final-full.gif");
  
  
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }